@model Taba_Digital.Models.Doacoes

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Doacoes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_contribuicoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_contribuicoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pessoa.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.aldeia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.aldeia.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.empresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.empresa.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_Doacoes">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
